.list {
    position: relative;
    overflow: auto;
    width: 100%;
    height: 100%;
    min-height: 0;
    max-height: 100%;
    flex: 1 1 auto;
}

.list-spacer {
    position: relative;
    top: 0;
    left: 0;
    width: 1px;
    height: 0; // will be set dynamically
    pointer-events: none;
    opacity: 0;
    z-index: -1;
}

.list-window {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    padding: 0;
    margin: 0;
    will-change: transform;
}